*.class

# Package Files #
*.jar
*.war
*.ear

# Workspace Metadata #
.metadata/

# Eclipse Settings #
/core-web/.settings/
/core-web/.classpath
/core-web/.project

# Tomcat Server #
/Servers
/Servers/

# Compiled Sources #
core-web/bin/
core-web/target/
